@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: "Roboto", sans-serif; font-weight: 300; font-size: 12px; line-height: 1.6; background: url(../img/bg.jpg) 50% 0 no-repeat; color: #161d24; }

a { text-decoration: none; }

.out { position: relative; width: 1200px; margin: 0 auto -108px; min-height: 100%; height: auto !important; height: 100%; }

.push { clear: both; height: 108px; }

.header { position: relative; padding: 28px 0 7px; }
.header__logo { display: inline-block; margin: -6px 0 0 398px; }
.header__enter { position: absolute; top: 27px; right: 72px; }
.header_main .header__logo { margin-left: 292px; }
.header_main .header__enter { right: 54px; top: 67px; font-size: 14px; font-weight: 300; }

.user-link { margin-left: 25px; display: inline-block; text-decoration: none; color: black; line-height: 1; }
.user-link:hover span { border-color: transparent; }
.user-link span { display: inline-block; margin-left: 7px; border-bottom: 1px dashed black; -moz-transition: border-color 0.3s; -o-transition: border-color 0.3s; -webkit-transition: border-color 0.3s; transition: border-color 0.3s; }
.user-link i { display: inline-block; vertical-align: middle; background: url('../img/icons-s30e6d8afa6.png') 0 -128px no-repeat; width: 20px; height: 20px; }

.main { padding: 20px 26px 35px; border: 3px solid #d4d4d4; background-color: white; *zoom: 1; border-radius: 3px; }
.main:after { content: " "; display: table; clear: both; }
.main_small-left .main__left { width: 537px; }
.main_error { position: relative; background: #0e1419; height: 666px; }
.main__left { float: left; width: 567px; position: relative; }
.main__right { float: right; width: 567px; }
.main__right .cat-name { margin-left: 13px; }
.main_small { width: 624px; }

.footer { margin: 0 auto; padding: 40px 12px 46px; position: relative; text-align: center; width: 1200px; color: #616c76; font-size: 14px; *zoom: 1; font-weight: 400; }
.footer:after { content: " "; display: table; clear: both; }
.footer a { color: #616c76; font-weight: 400; -moz-transition: text-decoration 0.3s; -o-transition: text-decoration 0.3s; -webkit-transition: text-decoration 0.3s; transition: text-decoration 0.3s; text-decoration: underline; }
.footer a:hover { text-decoration: none; }
.footer__logo { position: absolute; left: 0; right: 0; top: 34px; text-align: center; }
.footer__left { float: left; position: relative; z-index: 2; }
.footer__left span { margin-right: 37px; }
.footer__right { float: right; position: relative; z-index: 2; }

.date { font-size: 10px; color: #5a5a5a; }

.tags { float: left; padding-right: 20px; }
.tags a { display: inline-block; color: black; text-decoration: underline; }
.tags a:hover { text-decoration: none; }

.btn { display: inline-block; padding: 2px 15px; color: white; border-radius: 2px; background: #161d24; box-shadow: 0 -2px 0 black inset; text-decoration: none; font-weight: 300; -moz-transition: background 0.2s; -o-transition: background 0.2s; -webkit-transition: background 0.2s; transition: background 0.2s; }
.btn:hover { background-color: #232e39; }
.btn:active { box-shadow: 0 2px 0 black inset; color: #e5e5e5; }
.btn.is-width { display: block; text-align: center; width: 100%; }
.btn_yellow { background: #eee551; box-shadow: 0 -2px 0 #d4ca1e inset; color: black; }
.btn_yellow:hover { background-color: #f8ef56; }
.btn_yellow:active { box-shadow: 0 2px 0 #d4ca1e inset; color: #434343; }
.btn_gray { background: #d8dfe6; box-shadow: 0 -2px 0 #c6ccd1 inset; color: black; }
.btn_gray:hover { background-color: #cfd6dd; }
.btn_gray:active { box-shadow: 0 2px 0 #c6ccd1 inset; color: #434343; }

.raty { margin: 5px 0; text-align: justify; line-height: 0; font-size: 0; text-justify: newspaper; zoom: 1; text-align-last: justify; }
.raty:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }

.rate-wrap { margin: 9px 0; *zoom: 1; }
.rate-wrap:after { content: " "; display: table; clear: both; }
.rate-wrap .raty { float: left; width: 145px; }

.rate-counter { float: right; margin: 10px 6px 0 0; }
.rate-counter span { display: inline-block; margin-right: 13px; vertical-align: middle; color: #161d24; font-size: 14px; font-weight: 700; }

.icon-like { display: inline-block; vertical-align: top; background: url('../img/icons-s30e6d8afa6.png') 0 -261px no-repeat; width: 21px; height: 19px; }

.main-menu { margin-bottom: 9px; padding: 20px 27px 16px; border-radius: 3px; background: url(../img/bg-menu.png) 0 0 repeat-x; *zoom: 1; }
.main-menu:after { content: " "; display: table; clear: both; }
.main-menu__title { font-size: 36px; color: white; font-weight: 700; }
.main-menu__capabilities { margin: 30px 0 39px; *zoom: 1; }
.main-menu__capabilities:after { content: " "; display: table; clear: both; }
.main-menu__capabilities li { float: left; max-width: 287px; }
.main-menu__capabilities li:last-child { float: right; }
.main-menu__capabilities li span { display: table-cell; padding-top: 3px; width: 48px; height: 48px; border-radius: 50%; background: white; text-align: center; vertical-align: middle; }
.main-menu__capabilities li p { display: table-cell; color: white; padding-left: 24px; padding-right: 34px; vertical-align: middle; }
.main-menu__capabilities li i { display: inline-block; }
.main-menu__capabilities .icon-write { background: url('../img/icons-s30e6d8afa6.png') 0 -516px no-repeat; width: 30px; height: 26px; }
.main-menu__capabilities .icon-dialog { background: url('../img/icons-s30e6d8afa6.png') 0 -88px no-repeat; width: 26px; height: 30px; }
.main-menu__capabilities .icon-eye { background: url('../img/icons-s30e6d8afa6.png') 0 -158px no-repeat; width: 34px; height: 22px; }
.main-menu__bottom { display: table; table-layout: fixed; width: 100%; text-align: center; }
.main-menu__bottom li { display: table-cell; }
.main-menu__bottom li:first-child { text-align: left; }
.main-menu__bottom li:last-child { text-align: right; }
.main-menu__bottom a { color: #eee551; font-size: 16px; text-decoration: none; font-weight: 400; }
.main-menu__bottom a:hover { text-decoration: underline; }
.main-menu_inner { position: relative; z-index: 1; padding: 8px 28px; background: url(../img/bg-menu.png) 0 0 repeat-x; margin: 0 29px -17px; border-radius: 3px; }

.search { position: relative; }
.search__name { display: block; margin-bottom: 2px; font-size: 10px; padding: 0; color: #eee551; font-weight: 300; font-style: italic; }
.search input { width: 130px; height: 26px; border: 2px solid rgba(0, 0, 0, 0.15); border-radius: 3px; padding: 0 23px 0 5px; }
.search a { position: absolute; bottom: 0; right: 4px; }
.search .icon-search { background: url('../img/icons-s30e6d8afa6.png') 0 -345px no-repeat; width: 17px; height: 17px; }

.cat-name { display: inline-block; margin-bottom: 10px; color: #8997a5; font-size: 18px; }

.news { padding: 9px 0 13px; margin-bottom: 3px; border-bottom: 2px solid #161d24; *zoom: 1; font-weight: 300; }
.news:after { content: " "; display: table; clear: both; }
.news__title { display: inline-block; margin-bottom: 2px; text-decoration: none; color: #161d24; font-size: 24px; font-weight: 300; }
.news .btn { margin-top: 6px; float: right; }
.news_sep { border-bottom: none; }
.news_sep p { margin-bottom: 19px; }

.post { margin: 11px 0 11px; *zoom: 1; }
.post:after { content: " "; display: table; clear: both; }
.post__media { float: left; margin-right: 20px; }
.post__media .tags { margin-top: 21px; }
.post__img { display: block; }
.post__img img { border-radius: 3px; }
.post__body { overflow: hidden; }

.comment { position: relative; margin: 12px 0 30px; padding: 3px 13px 10px; border: 2px solid #1b3b5b; border-radius: 2px; *zoom: 1; }
.comment:after { content: " "; display: table; clear: both; }
.comment:last-child { margin-bottom: 0; }
.comment__user { position: absolute; right: 14px; top: -20px; }
.comment__title { font-size: 24px; color: #161d24; font-weight: 700; }
.comment__wrap { padding: 14px 0 2px; clear: both; }
.comment__show { display: block; padding: 4px 0; text-align: center; background: #d8dfe6; box-shadow: 0 2px 0 #c6ccd1; color: #657786; border-radius: 2px; text-decoration: none; }
.comment .post { margin: 8px 0; }
.comment .btn { float: right; }
.comment .btn.is-width { float: none; }

.user { padding: 1px; width: 200px; background: #141a20; font-size: 0; border-radius: 2px; }
.user__img { display: inline-block; margin-right: 16px; vertical-align: middle; }
.user__img img { border-radius: 2px; }
.user__name { display: inline-block; color: #eee551; text-decoration: none; font-size: 12px; width: 115px; vertical-align: middle; font-weight: 300; }
.user__name:hover { color: #d4ca1e; }
.user__right { display: inline-block; vertical-align: middle; }
.user_head { background: white; }
.user_head .user__name { color: black; }
.user_head .user__name:hover { color: #6d6d6d; }
.user_head .user__out { display: block; font-size: 10px; color: black; text-decoration: underline; font-weight: 500; }
.user_head .user__out:hover { text-decoration: none; }

.opinion { padding: 11px 0 13px; border-top: 1px solid #d8dfe6; clear: both; font-weight: 300; color: #141a20; *zoom: 1; }
.opinion:after { content: " "; display: table; clear: both; }
.opinion:first-child { border-top: none; }
.opinion__img { float: left; margin-right: 11px; padding-top: 5px; }
.opinion__img img { border-radius: 2px; }
.opinion__main { overflow: hidden; }
.opinion__title { display: inline-block; margin-bottom: 8px; vertical-align: top; color: #141a20; text-decoration: none; font-weight: 400; }

.to-comment textarea { display: block; padding: 5px 10px; width: 100%; height: 30px; max-height: 100px; resize: vertical; border-radius: 3px; border: 1px solid #d8dfe6; color: #141a20; font-family: "Roboto", sans-serif; font-weight: 300; font-size: 12px; -moz-transition: border 0.2s; -o-transition: border 0.2s; -webkit-transition: border 0.2s; transition: border 0.2s; }
.to-comment textarea:-ms-input-placeholder { color: #141a20; }
.to-comment textarea:-moz-placeholder { color: #141a20; }
.to-comment textarea::-moz-placeholder { color: #141a20; }
.to-comment textarea::-webkit-input-placeholder { color: #141a20; }
.to-comment textarea::placeholder { color: #141a20; }
.to-comment textarea:focus { border-color: #ccd1d6; }

.page-top { min-height: 46px; margin: 5px 0 46px; }
.page-top_marg { margin-bottom: 21px; }

.sort { height: 46px; *zoom: 1; }
.sort:after { content: " "; display: table; clear: both; }
.sort__item { float: left; padding-top: 12px; font-size: 0; }
.sort__title { display: inline-block; vertical-align: middle; width: 103px; padding-right: 15px; text-align: right; font-size: 14px; font-weight: 500; }
.sort .select { width: 180px; }

.select { position: relative; cursor: pointer; width: 180px; display: inline-block; vertical-align: middle; font-weight: 500; font-size: 14px; }
.select select { display: none; }
.select.is-active .select__text:after { top: 10px; -ms-transform: rotate(-180deg); -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }

.select__text { position: relative; display: block; padding: 0 30px 0 10px; height: 28px; line-height: 28px; white-space: nowrap; overflow: hidden; background: #e9e9e9; text-overflow: ellipsis; border-radius: 2px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.select__text:before { content: ""; position: absolute; right: 5px; top: 5px; width: 20px; height: 20px; background: black; border-radius: 50%; }
.select__text:after { content: ""; position: absolute; right: 10px; top: 12px; width: 0px; height: 0px; border-style: solid; border-width: 8px 5px 0 5px; border-color: #eee551 transparent transparent transparent; -moz-transition: -moz-transform 0.2s; -o-transition: -o-transform 0.2s; -webkit-transition: -webkit-transform 0.2s; transition: transform 0.2s; will-change: transform; }

.select__list { position: absolute; display: none; left: 0; right: 0; top: 100%; margin-top: 3px; padding: 5px 0; z-index: 100; border-top: 0; max-height: 200px; overflow-x: hidden; overflow-y: auto; border-radius: 2px; background: #e9e9e9; }
.select__list a { display: block; color: black; padding: 5px 10px; }
.select__list a:hover { background: black; color: white; }

.title { padding: 4px 19px; background: #eee551; font-size: 24px; color: #161d24; border-radius: 3px; font-weight: 700; }

.nav { margin: 40px 0 12px; }
.nav__item { display: inline-block; padding: 0 10px; margin-right: 17px; color: #141a20; font-size: 14px; text-decoration: underline; font-weight: 500; }
.nav__item:hover { text-decoration: none; }
.nav__item:active { color: #726e6e; }
.nav .is-active { color: #b3b3b3; text-decoration: none; }

.bottom { *zoom: 1; }
.bottom:after { content: " "; display: table; clear: both; }
.bottom__left { float: left; min-width: 537px; }
.bottom__right { float: right; }
.bottom_code .bottom__left { min-width: 387px; }

.share { display: inline-block; vertical-align: middle; }
.share__img { display: inline-block; margin-left: 14px; vertical-align: middle; }

.icon-vk { background: url('../img/icons-s30e6d8afa6.png') 0 -474px no-repeat; width: 31px; height: 32px; }

.icon-facebook { background: url('../img/icons-s30e6d8afa6.png') 0 -219px no-repeat; width: 31px; height: 32px; }

.icon-twitter { background: url('../img/icons-s30e6d8afa6.png') 0 -403px no-repeat; width: 31px; height: 32px; }

.error { margin: 20px 0 0 13px; color: #eee551; *zoom: 1; }
.error:after { content: " "; display: table; clear: both; }
.error__col1 { float: left; width: 588px; }
.error__title { margin-bottom: 41px; font-size: 36px; font-weight: 500; }
.error__info { font-size: 16px; font-weight: 400; }
.error__info a { color: white; text-decoration: underline; }
.error__info a:hover { text-decoration: none; }
.error__404 { float: right; margin: -40px 96px 0 0; font-size: 160px; text-align: right; font-weight: 700; }

.icon-logo-men { display: inline-block; position: absolute; bottom: 95px; left: 0; right: 0; text-align: center; }

.team { float: left; padding: 0 5px; color: #161d24; width: 50%; *zoom: 1; }
.team:after { content: " "; display: table; clear: both; }
.team__img { float: left; margin-right: 29px; border-radius: 2px; }
.team__info { overflow: hidden; }
.team__name { margin: -11px 0 -3px; font-size: 24px; font-weight: 700; }
.team__pos { font-size: 16px; margin-bottom: 8px; font-weight: 400; }
.team__item { margin-bottom: 11px; }
.team__item i { display: inline-block; margin-right: 8px; vertical-align: middle; }
.team__item span { color: #161d24; text-decoration: underline; vertical-align: middle; font-size: 12px; font-weight: 400; }
.team__item span:hover { text-decoration: none; }

.icon-mail { background: url('../img/icons-s30e6d8afa6.png') 0 -323px no-repeat; width: 20px; height: 12px; }

.icon-call { background: url('../img/icons-s30e6d8afa6.png') 0 -30px no-repeat; width: 17px; height: 18px; }

.icon-vk-2 { background: url('../img/icons-s30e6d8afa6.png') 0 -445px no-repeat; width: 19px; height: 19px; }

.icon-facebook-2 { background: url('../img/icons-s30e6d8afa6.png') 0 -190px no-repeat; width: 19px; height: 19px; }

.team-wrap__wrap { *zoom: 1; }
.team-wrap__wrap:after { content: " "; display: table; clear: both; }
.team-wrap__wrap:first-child { margin-bottom: 58px; }

.title-simple { margin: -11px 0 22px 0; font-size: 24px; color: #161d24; font-weight: 700; }

.text { margin-bottom: 22px; color: #161d24; font-size: 14px; font-weight: 400; }
.text_marg { margin-top: -14px; }

.icon-logo-man-2 { display: inline-block; width: 100%; text-align: center; height: 297px; line-height: 297px; }
.icon-logo-man-2 img { vertical-align: middle; }

.form__title { margin-bottom: 18px; color: #161d24; font-weight: 400; font-size: 14px; }

.field__title { font-size: 14px; color: #161d24; font-weight: 400; }
.field__body { margin-top: 10px; }
.field_inline { margin-bottom: 18px; width: 266px; font-size: 0; }
.field_inline .field__title, .field_inline .field__body { display: inline-block; vertical-align: middle; }
.field_inline .field__title { width: 83px; }
.field_inline .field__body { width: 183px; margin-top: 0; }
.field_inline input { font-size: 14px; display: block; padding: 0 10px; width: 100%; height: 28px; border: 2px solid #d4d4d4; border-radius: 3px; }
.field_inline input:focus { border-color: #a8a8a8; }
.field_code { display: inline-block; vertical-align: middle; margin-bottom: 0; }
.field_code .field__title { font-size: 12px; width: 150px; }
.field_code .field__body { width: 110px; }
.field_marg .field__title { margin-bottom: 20px; }
.field textarea { display: block; padding: 7px 10px; width: 100%; height: 130px; resize: vertical; max-height: 160px; border: 2px solid #d4d4d4; border-radius: 3px; }
.field textarea:focus { border-color: #a8a8a8; }

.code { font-size: 0; margin-top: 7px; }
.code__img { display: inline-block; vertical-align: middle; margin-right: 19px; }
.code__img img { border-radius: 3px; }
.code .btn { font-size: 14px; }

.contacts { margin: -12px 0 22px; font-size: 18px; color: #161d24; font-weight: 700; }

.icon-partner { display: inline-block; margin-bottom: 32px; }

.profile { margin-bottom: 20px; *zoom: 1; }
.profile:after { content: " "; display: table; clear: both; }

.name { display: inline-block; font-size: 26px; font-weight: 700; }

.redact { display: inline-block; margin-left: 10px; font-size: 12px; color: #a5aeb8; font-weight: 400; border-bottom: 1px dashed #a5aeb8; vertical-align: top; line-height: 1.4; }
.redact:hover { border-bottom: none; }

.person { *zoom: 1; }
.person:after { content: " "; display: table; clear: both; }
.person__img { float: left; border: 2px solid #dde6f0; border-radius: 3px; font-size: 0; }
.person__img img { border-radius: 3px; }
.person__right { overflow: hidden; padding-left: 17px; }
.person__item { margin-bottom: 8px; }
.person__item i { display: inline-block; vertical-align: middle; }
.person__item span { display: inline-block; margin-left: 12px; vertical-align: middle; font-size: 14px; font-weight: 500; }

.icon-loc { background: url('../img/icons-s30e6d8afa6.png') 0 -290px no-repeat; width: 15px; height: 23px; margin-right: 4px; }

.icon-calend { background: url('../img/icons-s30e6d8afa6.png') 0 0 no-repeat; width: 20px; height: 20px; }

.icon-sex { background: url('../img/icons-s30e6d8afa6.png') 0 -372px no-repeat; width: 31px; height: 21px; margin: 0 -6px; }

.descr { font-size: 12px; font-weight: 300; }
.descr p { margin-top: 20px; }
.descr p:first-child { margin-top: 0; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -14px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; background: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.slick-prev:before, .slick-next:before { height: 50px; line-height: 50px; }

.slick-prev { left: 0; }
.slick-prev:before { content: "←"; display: inline-block; vertical-align: middle; font-size: 61px; color: white; }

.slick-next { right: 0; }
.slick-next:before { content: "→"; display: inline-block; vertical-align: middle; font-size: 61px; color: white; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 3px; }
.slick-dots li.slick-active button { opacity: 0.3; box-shadow: none; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 6px; height: 6px; background: white; -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; }
.slick-dots button:hover { box-shadow: none; }
