@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: "Roboto", sans-serif; font-weight: 300; font-size: 12px; line-height: 1.6; background: url(../img/bg.jpg) 50% 0 no-repeat; }

.out { width: 1200px; margin: 0 auto; }

.header { text-align: center; position: relative; margin: 21px 0 12px; }
.header__logo { display: inline-block; }
.header__enter { position: absolute; right: 54px; top: 41px; font-size: 14px; font-weight: 300; }

.user-link { margin-left: 25px; display: inline-block; text-decoration: none; color: black; line-height: 1; }
.user-link:hover span { border-color: transparent; }
.user-link span { display: inline-block; margin-left: 7px; border-bottom: 1px dashed black; -moz-transition: border-color 0.3s; -o-transition: border-color 0.3s; -webkit-transition: border-color 0.3s; transition: border-color 0.3s; }
.user-link i { display: inline-block; vertical-align: middle; background: url('../img/icons-s98dc533f46.png') 0 -70px no-repeat; width: 20px; height: 20px; }

.footer { margin: 0 auto; padding: 44px 12px; position: relative; text-align: center; width: 1200px; color: #616c76; font-size: 14px; *zoom: 1; font-weight: 400; }
.footer:after { content: " "; display: table; clear: both; }
.footer a { color: #616c76; font-weight: 400; -moz-transition: text-decoration 0.3s; -o-transition: text-decoration 0.3s; -webkit-transition: text-decoration 0.3s; transition: text-decoration 0.3s; }
.footer a:hover { text-decoration: none; }
.footer__logo { position: absolute; left: 0; right: 0; top: 32px; text-align: center; }
.footer__left { float: left; position: relative; z-index: 2; }
.footer__left span { margin-right: 37px; }
.footer__right { float: right; position: relative; z-index: 2; }

.block-content { padding: 20px 22px 35px; border: 3px solid #d4d4d4; background-color: white; }

.main-menu { padding: 20px 27px 16px; border-radius: 3px; background: url(../img/bg-menu.png) 0 0 repeat-x; *zoom: 1; }
.main-menu:after { content: " "; display: table; clear: both; }
.main-menu__title { font-size: 36px; color: white; font-weight: 700; }
.main-menu__capabilities { margin: 30px 0 45px; *zoom: 1; }
.main-menu__capabilities:after { content: " "; display: table; clear: both; }
.main-menu__capabilities li { float: left; max-width: 286px; }
.main-menu__capabilities li:last-child { float: right; }
.main-menu__capabilities li span { display: table-cell; padding-top: 3px; width: 48px; height: 48px; border-radius: 50%; background: white; text-align: center; vertical-align: middle; }
.main-menu__capabilities li p { display: table-cell; color: white; padding-left: 24px; padding-right: 34px; vertical-align: middle; }
.main-menu__capabilities li i { display: inline-block; }
.main-menu__capabilities .icon-write { background: url('../img/icons-s98dc533f46.png') 0 -159px no-repeat; width: 30px; height: 26px; }
.main-menu__capabilities .icon-dialog { background: url('../img/icons-s98dc533f46.png') 0 -30px no-repeat; width: 26px; height: 30px; }
.main-menu__capabilities .icon-eye { background: url('../img/icons-s98dc533f46.png') 0 -100px no-repeat; width: 34px; height: 22px; }
.main-menu__bottom { display: table; table-layout: fixed; width: 100%; text-align: center; }
.main-menu__bottom li { display: table-cell; }
.main-menu__bottom li:first-child { text-align: left; }
.main-menu__bottom li:last-child { text-align: right; }
.main-menu__bottom a { color: #eee551; font-size: 16px; text-decoration: none; font-weight: 400; }

.search { position: relative; }
.search__name { display: block; margin-bottom: 6px; font-size: 10px; padding: 0; color: #eee551; font-weight: 300; font-style: italic; }
.search input { width: 130px; height: 26px; border: 2px solid rgba(0, 0, 0, 0.15); border-radius: 3px; padding: 0 23px 0 5px; }
.search a { position: absolute; bottom: 0; right: 4px; }
.search .icon-search { background: url('../img/icons-s98dc533f46.png') 0 -132px no-repeat; width: 17px; height: 17px; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -14px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; background: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.slick-prev:before, .slick-next:before { height: 50px; line-height: 50px; }

.slick-prev { left: 0; }
.slick-prev:before { content: "←"; display: inline-block; vertical-align: middle; font-size: 61px; color: white; }

.slick-next { right: 0; }
.slick-next:before { content: "→"; display: inline-block; vertical-align: middle; font-size: 61px; color: white; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 3px; }
.slick-dots li.slick-active button { opacity: 0.3; box-shadow: none; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 6px; height: 6px; background: white; -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; }
.slick-dots button:hover { box-shadow: none; }
